<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <span><mat-icon>account_circle</mat-icon>&nbsp;Gerador de documentos</span>
        <span class = "filler"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <i class="fa fa-github"></i>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
 </mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>